<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <!--Connection tới Database MTC : Đọc dữ liệu DB để push lên topic Kafka MTDRO-->
    <add key="ConnectionString" value="Server=.;Database=TS_CENTER;User Id=sa;Password=1;" />
  </appSettings>
</configuration>
